/*div{
	border: 1px solid red;
	text-decoration: bold;
}
*/
img#propic{
	position: relative;
    width: 350px;
    height: 350px;
    border: 14px solid;
    border-radius: 50%;
    margin-top: 20px;
}


.body{
	background-color: #0a0219;
}

#filler{
	height: 200px;
	background-image: url("../images/social.jpg");
/*	background-image: url(../images/la.jpg);
*/	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

#filler > h3{
	padding-top: 2%;
	color: white;

}

.skill{
	margin-top: 35px;
}

img.contactImages{
	width: 5%;
    height: 10%;
    padding-left: 0.5%;
}


@media only screen {
  canvas {
    max-width: 600px;
    max-height: 600px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 980px) {
   canvas {
    max-width: 350px;
    max-height: 350px;
    transition: width 2s;
  } 
  img#propic {
    position: relative;
    width: 215px;
    height: 215px;
    border: 14px solid;
    border-radius: 50%;
    transition: width 2s;
	}
	img.contactImages{
	width: 10%;
    height: 10%;
    padding-left: 0.5%;
}
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
	canvas {
    max-width: 250px;
    max-height: 250px;
    transition: width 2s;
  }  
  img#propic {
    position: relative;
    width: 150px;
    height: 150px;
    border: 14px solid;
    border-radius: 50%;
    transition: width 2s;
	}
  img.contactImages{
	width: 12%;
    height: 10%;
    padding-left: 0.5%;
	}
	#filler > h3{
	padding-top: 10%;
	color: white;

}

}

/*////////////////////////////////////////////////////////*/

#info > h1, h2{
  color: #ccc; 
  font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
}

#info > h3{
  color: gray; 
  font-family: "Courier";
  font-size: 12px;
  white-space: nowrap;
}


#info > h2{
  color: #ccc; 
  font-family: "Courier";
  font-size: 20px;
/*  margin: 10px 0 0 10px;
*/  white-space: nowrap;
  width: 30em;
  animation: type 4s steps(60, end); 
}

@keyframes type{ 
  from { width: 0; } 
} 

.btn{
	width:100%;
}


/*/////////////////     PORTFOLIO     ////////////*/
#port{
	padding: 10px 0px 0px 0px;
}

.portSection{
/*	background: #01114c;
*/	color: gray;
	    margin-bottom: 25px;
}

#window > a >img{
	width: 94%;
    height: 80%;
    border: 1.5px solid lightgray;
    box-shadow: 10px 10px 5px #a9a9a98c;

}
#window > a >h1{
	color: #07096d;
	font-size: 30px;
}

#window > a > p{
	color: dimgray;
}


/*/////////////////     PORTFOLIO     ////////////*/


/*-----------------CONTACT------------------------*/

h2#h2 {
	color: gray;
}

#email, #message, #name{
	padding-left: 2%;
}

.contact-container{
/*	background-image: url("../images/smokies.jpg");
*/
	background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    color: white;
}

#card{
	width: 95%;
    margin: 8% 0 0 0;
}

#contactForm{
	margin-bottom: 10%;
	margin-top: 40px;
}


.listItem{
	padding-left: 30px;
}

form{
	padding: 20px;
}


/*-----------------CONTACT------------------------*/


.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/* ////////////////Panel/////////////////// */
.panel-primary {
  border-color: black;
}
.panel-primary > .panel-heading {
  color: white;
  background-color: black;
  border-color: black;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: black;
}
.panel-primary > .panel-heading .badge {
  color: white;
  background-color: black;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: black;
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.container{
	min-height: 100%;
	position: relative;
}

#header{
	padding: 10px;
	padding-bottom: 10px;
}

footer {

  bottom: 0;
  width: 100%;

  /* Box-model */
  padding: 10px 0;

  /* Positioning */
  clear: both;
  font-size: 12px;

  /* Typography */
  color: #ccc;
  text-align: center;

  /* Visual */
  background: #0a0219;
  border-top: 3px solid #ccc;
  margin-top: 0px;
}


